
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
        <!-- Status icon placed here -->
    {% capture site_status %}
      {% include status.txt %}
    {% endcapture %}
    <span class="status-icon" title="{{ site_status | strip_newlines }}">
      💬
    </span>
    <ul class="navbar">
      {% for item in site.navbar %}
        <li><a href="{{ '/' | append: item.slug | prepend: site.baseurl | prepend: site.url }}">{{ item.title }}</a></li>
      {% endfor %}
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</nav>
